<div></div>
<h1 style="text-align: center">
  {{ 'Home-page.Welcome' | translate }}
</h1>

<div class="centering" class="container">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayout.lt-sm="column"
    fxFlex
    class="wrapper">
    <mat-card class="home-card source" routerLink="/platform-selection">
      <mat-card-title>
        {{ 'Home-page.Senddata' | translate }}
      </mat-card-title>
      <mat-card-content style="display:flex">
        <p>{{ 'Home-page.Sendflavor' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <div
          style="text-align:center;
                 font-family: Tahoma, Verdana, Segoe, sans-serif;">
          <button
            id="home-nav-src"
            mat-button
            style="font-family: Tahoma, Verdana, Segoe, sans-serif;">
            {{ 'Home-page.Choose' | translate }}
            <img src="{{assetUrl}}/flaticon/diagonal-arrow.png">
          </button>
        </div>
      </mat-card-actions>
    </mat-card>

    <mat-card class="home-card help" routerLink="/help">
      <mat-card-title>
        {{ 'Home-page.Help' | translate }}
      </mat-card-title>
      <mat-card-content>
        <p>{{ 'Home-page.Helpflavor' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
        <div style="text-align:center;">
          <button
            id="home-nav-help"
            mat-button
            style="font-family: Tahoma, Verdana, Segoe, sans-serif;">
            {{ 'Home-page.Help' | translate }}
            <img src="{{assetUrl}}/flaticon/question.png">
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
