<div class="center">
  <h3>Här kan du bestämma vart din data skickas!</h3>
  <div class="panel-container">
    <mat-expansion-panel class="panel">
      <mat-expansion-panel-header >
        <mat-panel-title>
          {{selection}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list role="list">
      	<mat-list-item role="listitem" *ngFor="let destination of destination_names; let i = index; let lastitem = last">
      		<mat-radio-button color="primary" [value]="destination" (change)="selection = $event.value">
      			{{destination}}
      		</mat-radio-button>
          <button mat-icon-button class="trash" (click)="openAlert(i)">
            <img src="{{assetUrl}}/flaticon/trashcan.svg" style="max-height: 100%; width: auto;" stroke="red" fill="red"/>
          </button>
          <mat-divider *ngIf="!lastitem"></mat-divider>
      	</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item role="listitem">
          <button mat-stroked-button color="secondary"
            class="add-button" (click)="openModal()">
            + Lagg till destination
          </button>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </div>
  <div style="display: flex; flex-direction: row">
    <button mat-raised-button color="primary"
      class="next-button-container"
      (click)="router.navigateByUrl('/edit')">
        Tillbaka
    </button>
    <div class="next-button-container">
      <button mat-raised-button color="primary"
        (click)="yeet(selection)"
        ng-disabled="false">
          Välj destination och gå vidare
      </button>
    </div>
  </div>
</div>
