
<div class="app-container">
  <h1 i18n> Localization Test </h1>
  <h3 i18n="@@myName"> Hello, My name is Ankit</h3><p>This text will remain same in all languages</p><hr />
  <ng-container *ngFor="let language of languageList">
    <a href="/{{language.code}}/"><button class="button">{{language.label}}</button></a>
</ng-container>
      <app-toolbar></app-toolbar>
    <app-progress-bar></app-progress-bar>
    <div style="flex-grow: 1;">
        <router-outlet></router-outlet>
    </div>
    <app-footer class="footer-container"></app-footer>
</div>
