<div class="container">
  <div class="progressBar" [ngClass]="{ hidden: getCurrentStep() === 0 }">
    <!-- FETCH -->
    <div class="item-container">
      <button (click)="navigate('platform-selection', 1)" [class]="getClass(1)">
        1
      </button>
      <div *ngIf="!onSmallScreen()">
        <p style="margin-left: 4px;">{{ 'Progress-bar.Importdata' | translate }}</p>
      </div>
    </div>

    <!-- EDIT -->
    <div class="item-container">
      <button (click)="navigate('edit', 2)" [class]="getClass(2)">
        2
      </button>
      <div *ngIf="!onSmallScreen()"><p>{{ 'Progress-bar.Edit' | translate }}</p></div>
    </div>

    <!-- SELECTION -->
    <div class="item-container">
      <button (click)="navigate('selection', 3)" [class]="getClass(3)">
        3
      </button>
      <div *ngIf="!onSmallScreen()"><p>Urval</p></div>
    </div>

    <!-- DESTINATION -->
    <div class="item-container">
      <button (click)="navigate('destination', 4)" [class]="getClass(4)">
        4
      </button>
      <div *ngIf="!onSmallScreen()"><p>{{ 'Progress-bar.Choosedest' | translate }}</p></div>
    </div>

    <!-- REVIEW -->
    <div class="item-container">
      <button (click)="navigate('inspection', 5)" [class]="getClass(5)">
        5
      </button>
      <div *ngIf="!onSmallScreen()"><p>{{ 'Progress-bar.Inspect' | translate }}</p></div>
    </div>
  </div>
</div>
