<h2>Ladda upp ett urval</h2>
<p>
  Välj en giltig json fil.
</p>


  <input type="file" style="display:none" #file (change)="importSelection($event)"/>
<button
  mat-raised-button
  name="fileSelector"
  color="primary"
  (click) = "file.click()"> Hämta Urval </button>

<div class= "centering" class ="container" >
  <div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayout.lt-sm="column"
  fxFlex
  class="wrapper">
<mat-card
  *ngFor="let selection of selections"> <!--Make selections clickable-->
  <mat-card-title>
    <mat-checkbox
    class="top-checkbox"
    [ngModel]="allChosen"
    [matTooltip]="selection.id"
    (change)="selectSelection(selection, $event)">
    {{selection.name}}
  </mat-checkbox>
  </mat-card-title>
<mat-card-content>
  <img src= {{selection.imageUrl}} style="width:80px"/>
  <p>ID: {{selection.id}}</p>

  <p>Auth: {{selection.needsAuth}}</p>
  <p>DestUrl: {{selection.destinations}}</p>
  <p>Categories: {{selection.categories}}</p>
</mat-card-content>
  </mat-card>
  </div>
    <mat-divider></mat-divider>
  </div>

<button
  mat-raised-button
  color="primary"
  (click)="router.navigateByUrl('/edit')">
  Tillbaka
</button>

<button
  mat-raised-button
  name="executeSelections"
  color="primary"
  (click) = "executeSelections()" >
  Skapa resultat
</button>

<button 
  mat-raised-button
  color="primary"
  (click)="router.navigateByUrl('/inspection')">
  Gå vidare
</button>

