<h2>Ladda upp ett urval</h2>
<p>
  Välj en giltig json fil.
</p>


  <input type="file" style="display:none" #file (change)="importSelection($event)"/>
<button
  mat-raised-button
  name="fileSelector"
  color="primary"
  (click) = "file.click()"> Hämta Urval </button>

<div class= "centering" class ="container" >
  <span
  fxLayout="row"
  fxLayout.xs="column"
  fxLayout.lt-sm="column"
  fxFlex
  class="wrapper">
<mat-card
  *ngFor="let selection of selections"> <!--Make selections clickable-->
  <mat-card-title>
    <mat-checkbox
      class="top-checkbox"
      [ngModel]="allChosen"
      [matTooltip]="selection.id"
      (change)="selectSelection(selection, $event)">
        {{selection.name}}
    </mat-checkbox>
    <button mat-icon-button
    class="trash"
    (click)=removeSelection(selection)>
    <img src="{{assetUrl}}/flaticon/trashcan.svg" id="trash" stroke="red" fill="red"/>
    </button>

  </mat-card-title>
 

<mat-card-content>
  <img src= {{selection.imageUrl}} style="width:80px"/>
  <p>Destinationer:</p>
  <ul>
    <li *ngFor="let destination of selection.destinations">
      {{destination.name}}
    </li>
  </ul>
  <p>Kategorier:</p>
  <ul *ngFor="let category of selection.categories">
      <li>{{ getCategoryLabel(category) }}</li>
  </ul>
</mat-card-content>
  </mat-card>
</span>
    <mat-divider></mat-divider>
</div>

<button
  mat-raised-button
  name="executeSelections"
  color="primary"
  [disabled]="selectedSelections.length===0"
  (click) = "executeSelections()" >
  Skapa resultat
</button>

<div>
<button
  mat-raised-button
  color="primary"
  (click)="router.navigateByUrl('/edit')">
  Tillbaka
</button>

<button 
  mat-raised-button
  color="primary"
  (click)="router.navigateByUrl('/inspection')">
  Gå vidare
</button>

</div>

