.mat-card {
  //min-width: 150px;
  width: 300px;
  height: auto;
  margin: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
}

.mat-card-title {
  display: inline-flex;
}

.trash{
  position: absolute;
  right: 0;
}

#trash{
  max-height: 50%;
  width: auto;
}

button{
  margin: 15px;
}

.wrapper {
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;

}


.container {
  margin:20px;
  align-items: center;
  justify-content: center;
}

.top-checkbox {
  font-weight: bold;
  font-size: 14pt;
  display: flex;
  align-content: left;
  margin: 10px 0;
  border-bottom: 1px solid rgba(0,0,0,0.23);
}

@media only screen and (min-width: 600px){
  .wrapper{
    max-width: 85%;
  }
}