@media only screen and (min-width: 600px){

    table {
        width: 100%;
    }

    button {
    margin: 20px auto;
    }

    .center {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mat-expansion-panel-header-title {
        width: 30%;
      }
      

    .panel-container {
        max-width: 1050px;
        width: 100%;
        display: inline-block;
    }

    .panel {
        margin: 20px 20px;
        text-align: center;
    }

    .dest-card {
        margin: auto;
        margin-bottom: 15px;
        text-align: center;
        max-width: 80%;
    }

    .mat-snack-bar-container {
        background-color: '#B00' !important;
    }
}

@media only screen and (max-width: 600px){
/*    .mat-card{
        width: 100%;
        max-width: 100%;
        margin: 5px;
    }*/
    .mat-expansion-panel-header-title {
        width: 40%;
    }

    button {
        margin: 20px auto;
    }
    .dest-card{
        max-width: 98%;
        margin: 5px;
        margin-top: 15px;
        padding: 0px;
        padding-top: 5px;
    }
    .mat-expansion-panel{
        margin: 0px;
    }

    ::ng-deep .mat-expansion-panel-body{
        padding: 0px !important;
    }

    .table-container{
        border: 0px;
    }

    .panel{
        margin: 0px;
        margin-top: 5px;
    }
  }