<div *ngIf="dataSent" class="center">
  <h1 style="text-align: center">
    Data skickat!
  </h1>
  <mat-card style="text-align: left">
    <b>Personnummer:</b> {{ receipt.pnr }}<br />
    <b>EHR-ID:</b> {{ receipt.ehrId }}<br />
    <b>Composition UID:</b> {{ receipt.compUid }}
  </mat-card>
  <button mat-raised-button color="primary"
    (click)="router.navigateByUrl('/home')">
     Tillbaka hem
  </button>
</div>

<div *ngIf="!dataSent && (!hasDestination() || !hasData())">
  <h1 style="text-align: center">
    Hoppsan!
  </h1>
  <p *ngIf="!hasDestination() && !hasData()">Du har inte hämtat data eller valt destination!</p>
  <p *ngIf="!hasDestination() && hasData()">Du har inte valt destination!</p>
  <p *ngIf="hasDestination() && !hasData()">Du har inte hämtat någon data att skicka!</p>
  <button mat-raised-button color="primary"
    (click)="router.navigateByUrl('/destination')">
      Backa
  </button>
</div>
<div *ngIf="hasData() && hasDestination()">
  <mat-expansion-panel *ngFor="let destination of destinations; let i = index" class="panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Skicka data till {{ destination.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Kontrollera dina värden innan du skickar in till {{ destination.name }}</p>
    <div class="panel-container">
      <mat-expansion-panel *ngFor="let category of conveyor.getCategoryIds()"
                           class="panel">
        <mat-expansion-panel-header *ngIf="!isCategoryEmpty(category)">
          <mat-panel-title>
            {{ conveyor.getCategorySpec(category).label }}
          </mat-panel-title>
          <mat-panel-description>
            Antal mätvärden:
            {{ getNumberOfValues(category) }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-data-container [editable]="false" [selectCategory]="category">
        </app-data-container>
      </mat-expansion-panel>
    </div>

    <div style="display: flex; flex-direction: row">
      <button
        mat-raised-button
        color="primary"
        (click)="router.navigateByUrl('/destination')">
        Tillbaka
      </button>
      <button
        *ngIf="needsAuth(i)"
        mat-raised-button
        color="primary"
        (click)="sendDataWithAuth(i)">
        Logga in och skicka
      </button>
      <button
        *ngIf="!needsAuth(i)"
        mat-raised-button
        color="primary"
        (click)="sendData(i)">
        Godkänn och skicka
      </button>
    </div>
  </mat-expansion-panel>
</div>
