<h1 i18n="@@logInTitle">Logga in</h1>

<div *ngIf="method===AuthenticationMethod.BASIC">
  <div class="auth-form">
    <label i18n="@@pnrLabel">Personnummer:</label> <input #pnr />
    <label i18n="@@userLabel">Användare:</label> <input #username />
    <label i18n="@@passwordLabel">Lösenord:</label> <input type="password" #password />
  </div>

  <button i18n="@@logInButton"
    mat-raised-button
    color="primary"
    (click)="basic(username.value, password.value, pnr.value)">
    Logga in
  </button>
</div>

<div *ngIf="method===AuthenticationMethod.ASSISTED_TOKEN">
  <button i18n="@@logInButtonBankId"
      mat-raised-button
      color="primary"
      (click)="assistedToken()"
    >
    Logga in med BankId
  </button>
</div>
